<nav aria-label="Page navigation example">
    <ul class="pagination gray justify-content-center">
        <li class="page-item" [class.disabled]="paging.page <= 1">
            <a class="page-link" (click)="prevPage()" href="javascript:void(0);">&laquo;</a>
        </li>
        <li class="page-item" [class.active]="i === paging.page" *ngFor="let i of pages">
            <a class="page-link" (click)="setPage(i)" href="javascript:void(0);">{{i}}</a>
        </li>
        <li class="page-item" [class.disabled]="paging.page == pages[pages.length-1]">
            <a class="page-link" (click)="nextPage()" href="javascript:void(0);">&raquo;</a>
        </li>
    </ul>
</nav>