<div class="row" *ngIf="basketItems.length <= 0; else list">
    <div class="col-12">
        <p>Ваша корзина пуста</p>
    </div>
</div>

<ng-template #list>
<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="100px"></th>
                <th>Наименование</th>
                <th width="80px">Количество</th>
                <th>Цена</th>
                <th>Сумма</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of basketItems">
                <td>
                    <img class="img-fluid" [src]="item.item.img" />
                </td>
                <td>{{item.item.title}}</td>
                <td>
                    <input class="form-control" type="number" step="1" min="1"
                           [(ngModel)]="item.count"
                           (change)="onChangeItem()"/>
                </td>
                <td>{{item.item.price}} руб.</td>
                <td>{{item.item.price * item.count}} руб.</td>
                <td>
                    <button class="btn btn-danger" (click)="deleteItem(item)">Удалить</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Позиций: {{basketItems.length}}</p>
        <p>На сумму: {{summ}} руб.</p>
    </div>
</div>
</ng-template>