<div class="navbar navbar-expand-md navbar-dark bg-dark  fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" routerLink="/catalog">VseMayki</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/catalog">Каталог</a></li>
            <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/basket">Корзина</a></li>
        </ul>
    </div>
</div>
<div class="container theme-showcase" role="main">
    <router-outlet></router-outlet>
</div>