.catalog-loader {
    width: 100%;
    height: 100%;
    min-height: 14rem;
    position: absolute;
    z-index: 1;
    left: 0;
    background-color: rgba(233, 233, 233, 0.5);
    transition: opacity 1s, visibility 1s;
    opacity: 0;
    visibility: hidden;
}
.catalog-loader.in {
    opacity: 1;
    visibility: visible;
}
.catalog-loader-content {
    width: 100%;
    height: 100%;
}
.catalog-loader span.text {
    font-size: 7rem;
    text-align: center;
    width: 100%;
}