<div class="row">
    <div class="col-12">
        <div class="catalog-loader" [class.in]="isLoading">
            <div class="catalog-loader-content d-flex">
                <span class="text align-self-center">Загрузка...</span>
            </div>
        </div>
        <app-catalog-list [items]="items"></app-catalog-list>
        <app-pagination [totalCount]="totalCount" (change)="setPagingRequest($event)"></app-pagination>
    </div>
</div>