<div class="row">
    <div class="col-12 col-sm-6 col-lg-4" *ngFor="let item of items">
        <div class="card mb-4">
            <h5 class="card-header">{{item.title}}</h5>
            <div class="card-body">
                <img class="img-fluid" [src]="item.img">
            </div>
            <div class="card-footer">
                <div class="col-12">
                    <span class="float-left">
                        <span class="price" *ngIf="!item.old_price; else oldPrice">{{item.price}} руб.</span>
                        <ng-template #oldPrice>
                            <span class="price price-old">{{item.old_price}} руб.</span>
                            <span class="price price-new ml-1">{{item.price}}  руб.</span>
                        </ng-template>
                    </span>
                    <button *ngIf="!itemInBasket(item); else hasItem" (click)="addToBasket(item)" class="btn btn-sm btn-success float-right d-sm-inline-block">Купить</button>
                    <ng-template #hasItem>
                        <button routerLink="/basket" class="btn btn-sm btn-primary float-right d-sm-inline-block">В корзине</button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>